In [ ]:
import numpy as np   
import pandas as pd  
import os 
import re
import warnings
import datetime as dt

In [ ]:
sales = pd.read_csv('walmart_sales_data/sales_train_validation.csv')
calendar = pd.read_csv('walmart_sales_data/calenda_data_combined.csv',index_col=[0])
sell_prices = pd.read_csv('walmart_sales_data/sell_prices.csv')

In [ ]:
print(f'Size of sales is {sales.memory_usage(deep=True).sum()/(1024 * 1024)} MB')
print(f'Size of calendar is {calendar.memory_usage(deep=True).sum()/(1024 * 1024)} MB')
print(f'Size of sell_prices is {sell_prices.memory_usage(deep=True).sum()/(1024 * 1024)} MB')

Size of sales is 456.7783622741699 MB
Size of calendar is 1.3249435424804688 MB
Size of sell_prices is 957.5197134017944 MB

In [ ]:
#Downcast in order to save memory
def downcast_dataframes(df):
    cols = df.dtypes.index.tolist()
    types = df.dtypes.values.tolist()
    for i,t in enumerate(types):
        if 'int' in str(t):
            if df[cols[i]].min() > np.iinfo(np.int8).min and df[cols[i]].max() < np.iinfo(np.int8).max:
                df[cols[i]] = df[cols[i]].astype(np.int8)
            elif df[cols[i]].min() > np.iinfo(np.int16).min and df[cols[i]].max() < np.iinfo(np.int16).max:
                df[cols[i]] = df[cols[i]].astype(np.int16)
            elif df[cols[i]].min() > np.iinfo(np.int32).min and df[cols[i]].max() < np.iinfo(np.int32).max:
                df[cols[i]] = df[cols[i]].astype(np.int32)
            else:
                df[cols[i]] = df[cols[i]].astype(np.int64)
        elif 'float' in str(t):
            if df[cols[i]].min() > np.finfo(np.float16).min and df[cols[i]].max() < np.finfo(np.float16).max:
                df[cols[i]] = df[cols[i]].astype(np.float16)
            elif df[cols[i]].min() > np.finfo(np.float32).min and df[cols[i]].max() < np.finfo(np.float32).max:
                df[cols[i]] = df[cols[i]].astype(np.float32)
            else:
                df[cols[i]] = df[cols[i]].astype(np.float64)
        elif t == np.object:
            if cols[i] == 'date':
                df[cols[i]] = pd.to_datetime(df[cols[i]], format='%Y-%m-%d')
            else:
                df[cols[i]] = df[cols[i]].astype('category')
    return df

In [ ]:
def basic_eda(df):
    print("-------------------------------TOP 5 RECORDS-----------------------------")
    print(df.head(5))
    print()
    
    print("-------------------------------INFO--------------------------------------")
    print(df.info())
    print()
    
    print("-------------------------------Describe----------------------------------")
    print(df.describe())
    print()
    
    print("-------------------------------Columns-----------------------------------")
    print(df.columns)
    print()
    
    print("-------------------------------Data Types--------------------------------")
    print(df.dtypes)
    print()
    
    print("----------------------------Missing Values-------------------------------")
    print(df.isnull().sum())
    print()
    
    print("----------------------------NULL values----------------------------------")
    print(df.isna().sum())
    print()
    
    print("--------------------------Shape Of Data---------------------------------")
    print(df.shape)
    print()
    
    print("============================================================================ \n")

In [ ]:
sales = downcast_dataframes(sales)
sell_prices = downcast_dataframes(sell_prices)
calendar = downcast_dataframes(calendar)

<ipython-input-47-00701b1a6f72>:22: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  elif t == np.object:

In [ ]:
print(f'Size of sales is {sales.memory_usage(deep=True).sum()/(1024 * 1024)} MB')
print(f'Size of calendar is {calendar.memory_usage(deep=True).sum()/(1024 * 1024)} MB')
print(f'Size of sell_prices is {sell_prices.memory_usage(deep=True).sum()/(1024 * 1024)} MB')

Size of sales is 97.85959911346436 MB
Size of calendar is 0.3480653762817383 MB
Size of sell_prices is 45.95134258270264 MB

In [ ]:
basic_eda(sales)

-------------------------------TOP 5 RECORDS-----------------------------
                              id        item_id    dept_id   cat_id store_id  \
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1
1  HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  HOBBIES_1  HOBBIES     CA_1
2  HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  HOBBIES_1  HOBBIES     CA_1
3  HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  HOBBIES_1  HOBBIES     CA_1
4  HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  HOBBIES_1  HOBBIES     CA_1

  state_id  d_1  d_2  d_3  d_4  ...  d_1904  d_1905  d_1906  d_1907  d_1908  \
0       CA    0    0    0    0  ...       1       3       0       1       1
1       CA    0    0    0    0  ...       0       0       0       0       0
2       CA    0    0    0    0  ...       2       1       2       1       1
3       CA    0    0    0    0  ...       1       0       5       4       1
4       CA    0    0    0    0  ...       2       1       1       0       1

   d_1909  d_1910  d_1911  d_1912  d_1913
0       1       3       0       1       1
1       1       0       0       0       0
2       1       0       1       1       1
3       0       1       3       7       2
4       1       2       2       2       4

[5 rows x 1919 columns]

-------------------------------INFO--------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1919 entries, id to d_1913
dtypes: category(6), int16(1306), int8(607)
memory usage: 95.4 MB
None

-------------------------------Describe----------------------------------
                d_1           d_2           d_3           d_4           d_5  \
count  30490.000000  30490.000000  30490.000000  30490.000000  30490.000000
mean       1.070220      1.041292      0.780026      0.833454      0.627944
std        5.126689      5.365468      3.667454      4.415141      3.379344
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max      360.000000    436.000000    207.000000    323.000000    296.000000

                d_6           d_7           d_8           d_9          d_10  \
count  30490.000000  30490.000000  30490.000000  30490.000000  30490.000000
mean       0.958052      0.918662      1.244080      1.073663      0.838701
std        4.785947      5.059495      6.617729      5.917204      4.206199
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max      314.000000    316.000000    370.000000    385.000000    353.000000

       ...        d_1904        d_1905        d_1906        d_1907  \
count  ...  30490.000000  30490.000000  30490.000000  30490.000000
mean   ...      1.370581      1.586159      1.693670      1.248245
std    ...      3.740017      4.097191      4.359809      3.276925
min    ...      0.000000      0.000000      0.000000      0.000000
25%    ...      0.000000      0.000000      0.000000      0.000000
50%    ...      0.000000      0.000000      0.000000      0.000000
75%    ...      1.000000      2.000000      2.000000      1.000000
max    ...    129.000000    160.000000    204.000000     98.000000

             d_1908        d_1909        d_1910        d_1911        d_1912  \
count  30490.000000  30490.000000  30490.000000  30490.000000  30490.000000
mean       1.232207      1.159167      1.149000      1.328862      1.605838
std        3.125471      2.876026      2.950364      3.358012      4.089422
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        1.000000      1.000000      1.000000      1.000000      2.000000
max      100.000000     88.000000     77.000000    141.000000    171.000000

             d_1913
count  30490.000000
mean       1.633158
std        3.812248
min        0.000000
25%        0.000000
50%        0.000000
75%        2.000000
max      130.000000

[8 rows x 1913 columns]

-------------------------------Columns-----------------------------------
Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'd_1',
       'd_2', 'd_3', 'd_4',
       ...
       'd_1904', 'd_1905', 'd_1906', 'd_1907', 'd_1908', 'd_1909', 'd_1910',
       'd_1911', 'd_1912', 'd_1913'],
      dtype='object', length=1919)

-------------------------------Data Types--------------------------------
id          category
item_id     category
dept_id     category
cat_id      category
store_id    category
              ...
d_1909          int8
d_1910          int8
d_1911         int16
d_1912         int16
d_1913         int16
Length: 1919, dtype: object

----------------------------Missing Values-------------------------------
id          0
item_id     0
dept_id     0
cat_id      0
store_id    0
           ..
d_1909      0
d_1910      0
d_1911      0
d_1912      0
d_1913      0
Length: 1919, dtype: int64

----------------------------NULL values----------------------------------
id          0
item_id     0
dept_id     0
cat_id      0
store_id    0
           ..
d_1909      0
d_1910      0
d_1911      0
d_1912      0
d_1913      0
Length: 1919, dtype: int64

--------------------------Shape Of Data---------------------------------
(30490, 1919)

============================================================================

In [ ]:
basic_eda(sell_prices)

-------------------------------TOP 5 RECORDS-----------------------------
  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325    9.578125
1     CA_1  HOBBIES_1_001     11326    9.578125
2     CA_1  HOBBIES_1_001     11327    8.257812
3     CA_1  HOBBIES_1_001     11328    8.257812
4     CA_1  HOBBIES_1_001     11329    8.257812

-------------------------------INFO--------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6841121 entries, 0 to 6841120
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   store_id    category
 1   item_id     category
 2   wm_yr_wk    int16
 3   sell_price  float16
dtypes: category(2), float16(1), int16(1)
memory usage: 45.8 MB
None

-------------------------------Describe----------------------------------
           wm_yr_wk    sell_price
count  6.841121e+06  6.841121e+06
mean   1.138294e+04           NaN
std    1.486100e+02  0.000000e+00
min    1.110100e+04  1.000214e-02
25%    1.124700e+04  2.179688e+00
50%    1.141100e+04  3.470703e+00
75%    1.151700e+04  5.839844e+00
max    1.162100e+04  1.073125e+02

-------------------------------Columns-----------------------------------
Index(['store_id', 'item_id', 'wm_yr_wk', 'sell_price'], dtype='object')

-------------------------------Data Types--------------------------------
store_id      category
item_id       category
wm_yr_wk         int16
sell_price     float16
dtype: object

----------------------------Missing Values-------------------------------
store_id      0
item_id       0
wm_yr_wk      0
sell_price    0
dtype: int64

----------------------------NULL values----------------------------------
store_id      0
item_id       0
wm_yr_wk      0
sell_price    0
dtype: int64

--------------------------Shape Of Data---------------------------------
(6841121, 4)

============================================================================

In [ ]:
basic_eda(calendar)

-------------------------------TOP 5 RECORDS-----------------------------
        date  wm_yr_wk    weekday  wday  month  year    d event_name_1  \
0 2011-01-29     11101   Saturday     1      1  2011  d_1          NaN
1 2011-01-30     11101     Sunday     2      1  2011  d_2          NaN
2 2011-01-31     11101     Monday     3      1  2011  d_3          NaN
3 2011-02-01     11101    Tuesday     4      2  2011  d_4          NaN
4 2011-02-02     11101  Wednesday     5      2  2011  d_5          NaN

  event_type_1 event_name_2  ... total_sales_WI_HOBBIES  \
0          NaN          NaN  ...                 1083.0
1          NaN          NaN  ...                  926.0
2          NaN          NaN  ...                  684.0
3          NaN          NaN  ...                  455.0
4          NaN          NaN  ...                  132.0

   total_sales_CA_HOUSEHOLD  total_sales_TX_HOUSEHOLD  \
0                    2292.0                    1706.0
1                    2382.0                    1730.0
2                    1692.0                    1128.0
3                    1778.0                    1102.0
4                    1566.0                     809.0

   total_sales_WI_HOUSEHOLD  total_sales_CA_FOODS  total_sales_TX_FOODS  \
0                    1691.0                6852.0                6852.0
1                    1522.0                7032.0                7032.0
2                    1107.0                5124.0                5124.0
3                     985.0                5472.0                5472.0
4                     354.0                4600.0                4600.0

   total_sales_WI_FOODS  Customer_price_index  Unemployement_Rate  gas_price
0                6224.0               221.125            9.101562   3.123047
1                5864.0               221.125            9.101562   3.123047
2                5104.0               221.125            9.101562   3.154297
3                5544.0               221.875            9.000000   3.154297
4                2824.0               221.875            9.000000   3.154297

[5 rows x 38 columns]

-------------------------------INFO--------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1951 entries, 0 to 1950
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      1951 non-null   datetime64[ns]
 1   wm_yr_wk                  1951 non-null   int16
 2   weekday                   1951 non-null   category
 3   wday                      1951 non-null   int8
 4   month                     1951 non-null   int8
 5   year                      1951 non-null   int16
 6   d                         1951 non-null   category
 7   event_name_1              1943 non-null   category
 8   event_type_1              1943 non-null   category
 9   event_name_2              1866 non-null   category
 10  event_type_2              1866 non-null   category
 11  snap_CA                   1951 non-null   int8
 12  snap_TX                   1951 non-null   int8
 13  snap_WI                   1951 non-null   int8
 14  ca_walmart                1951 non-null   float16
 15  ca_hobbies                1951 non-null   float16
 16  ca_household              1951 non-null   float16
 17  ca_foods                  1951 non-null   float16
 18  tx_walmart                1951 non-null   float16
 19  tx_hobbies                1951 non-null   float16
 20  tx_household              1951 non-null   float16
 21  tx_foods                  1951 non-null   float16
 22  wi_walmart                1951 non-null   float16
 23  wi_hobbies                1951 non-null   float16
 24  wi_household              1951 non-null   float16
 25  wi_foods                  1951 non-null   float16
 26  total_sales_CA_HOBBIES    1951 non-null   float16
 27  total_sales_TX_HOBBIES    1951 non-null   float16
 28  total_sales_WI_HOBBIES    1951 non-null   float16
 29  total_sales_CA_HOUSEHOLD  1951 non-null   float16
 30  total_sales_TX_HOUSEHOLD  1951 non-null   float16
 31  total_sales_WI_HOUSEHOLD  1951 non-null   float16
 32  total_sales_CA_FOODS      1951 non-null   float16
 33  total_sales_TX_FOODS      1951 non-null   float16
 34  total_sales_WI_FOODS      1951 non-null   float16
 35  Customer_price_index      1951 non-null   float16
 36  Unemployement_Rate        1951 non-null   float16
 37  gas_price                 1951 non-null   float16
dtypes: category(6), datetime64[ns](1), float16(24), int16(2), int8(5)
memory usage: 250.0 KB
None

-------------------------------Describe----------------------------------
           wm_yr_wk         wday        month         year      snap_CA  \
count   1951.000000  1951.000000  1951.000000  1951.000000  1951.000000
mean   11344.573039     3.997437     6.328549  2013.263455     0.328549
std      153.760165     1.999870     3.432454     1.565753     0.469806
min    11101.000000     1.000000     1.000000  2011.000000     0.000000
25%    11218.000000     2.000000     3.000000  2012.000000     0.000000
50%    11336.000000     4.000000     6.000000  2013.000000     0.000000
75%    11476.500000     6.000000     9.000000  2015.000000     1.000000
max    11618.000000     7.000000    12.000000  2016.000000     1.000000

           snap_TX      snap_WI   ca_walmart   ca_hobbies  ca_household  ...  \
count  1951.000000  1951.000000  1951.000000  1951.000000   1951.000000  ...
mean      0.328549     0.328037    32.812500    22.406250           inf  ...
std       0.469806     0.469619    10.046875     7.875000      9.390625  ...
min       0.000000     0.000000     5.328125     4.601562     12.000000  ...
25%       0.000000     0.000000    27.593750    17.093750     31.500000  ...
50%       0.000000     0.000000    34.031250    21.937500     38.062500  ...
75%       1.000000     1.000000    39.750000    27.273438     44.718750  ...
max       1.000000     1.000000    58.000000    57.000000     67.000000  ...

       total_sales_WI_HOBBIES  total_sales_CA_HOUSEHOLD  \
count                  1951.0                    1951.0
mean                      inf                       inf
std                       inf                       inf
min                       0.0                       0.0
25%                     647.0                    2702.0
50%                     758.0                    3322.0
75%                     908.0                    3989.0
max                    1599.0                    6568.0

       total_sales_TX_HOUSEHOLD  total_sales_WI_HOUSEHOLD  \
count                    1951.0                    1951.0
mean                        inf                       inf
std                         inf                       inf
min                         0.0                       0.0
25%                      1826.0                    1489.5
50%                      2276.0                    1877.0
75%                      2740.0                    2340.0
max                      4168.0                    4392.0

       total_sales_CA_FOODS  total_sales_TX_FOODS  total_sales_WI_FOODS  \
count                1951.0                1951.0                1951.0
mean                    inf                   inf                   inf
std                     inf                   inf                   inf
min                     2.0                   2.0                   1.0
25%                  5868.0                5868.0                5424.0
50%                  6656.0                6656.0                6676.0
75%                  7710.0                7710.0                8152.0
max                 14336.0               14336.0               14360.0

       Customer_price_index  Unemployement_Rate    gas_price
count           1951.000000         1951.000000  1951.000000
mean                    inf            6.953125     3.265625
std                4.664062            1.406250     0.583984
min              221.125000            4.800781     1.833984
25%              228.750000            5.601562     2.863281
50%              233.500000            7.199219     3.492188
75%              237.375000            8.203125     3.705078
max              240.250000            9.101562     4.019531

[8 rows x 31 columns]

-------------------------------Columns-----------------------------------
Index(['date', 'wm_yr_wk', 'weekday', 'wday', 'month', 'year', 'd',
       'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2',
       'snap_CA', 'snap_TX', 'snap_WI', 'ca_walmart', 'ca_hobbies',
       'ca_household', 'ca_foods', 'tx_walmart', 'tx_hobbies', 'tx_household',
       'tx_foods', 'wi_walmart', 'wi_hobbies', 'wi_household', 'wi_foods',
       'total_sales_CA_HOBBIES', 'total_sales_TX_HOBBIES',
       'total_sales_WI_HOBBIES', 'total_sales_CA_HOUSEHOLD',
       'total_sales_TX_HOUSEHOLD', 'total_sales_WI_HOUSEHOLD',
       'total_sales_CA_FOODS', 'total_sales_TX_FOODS', 'total_sales_WI_FOODS',
       'Customer_price_index', 'Unemployement_Rate', 'gas_price'],
      dtype='object')

-------------------------------Data Types--------------------------------
date                        datetime64[ns]
wm_yr_wk                             int16
weekday                           category
wday                                  int8
month                                 int8
year                                 int16
d                                 category
event_name_1                      category
event_type_1                      category
event_name_2                      category
event_type_2                      category
snap_CA                               int8
snap_TX                               int8
snap_WI                               int8
ca_walmart                         float16
ca_hobbies                         float16
ca_household                       float16
ca_foods                           float16
tx_walmart                         float16
tx_hobbies                         float16
tx_household                       float16
tx_foods                           float16
wi_walmart                         float16
wi_hobbies                         float16
wi_household                       float16
wi_foods                           float16
total_sales_CA_HOBBIES             float16
total_sales_TX_HOBBIES             float16
total_sales_WI_HOBBIES             float16
total_sales_CA_HOUSEHOLD           float16
total_sales_TX_HOUSEHOLD           float16
total_sales_WI_HOUSEHOLD           float16
total_sales_CA_FOODS               float16
total_sales_TX_FOODS               float16
total_sales_WI_FOODS               float16
Customer_price_index               float16
Unemployement_Rate                 float16
gas_price                          float16
dtype: object

----------------------------Missing Values-------------------------------
date                         0
wm_yr_wk                     0
weekday                      0
wday                         0
month                        0
year                         0
d                            0
event_name_1                 8
event_type_1                 8
event_name_2                85
event_type_2                85
snap_CA                      0
snap_TX                      0
snap_WI                      0
ca_walmart                   0
ca_hobbies                   0
ca_household                 0
ca_foods                     0
tx_walmart                   0
tx_hobbies                   0
tx_household                 0
tx_foods                     0
wi_walmart                   0
wi_hobbies                   0
wi_household                 0
wi_foods                     0
total_sales_CA_HOBBIES       0
total_sales_TX_HOBBIES       0
total_sales_WI_HOBBIES       0
total_sales_CA_HOUSEHOLD     0
total_sales_TX_HOUSEHOLD     0
total_sales_WI_HOUSEHOLD     0
total_sales_CA_FOODS         0
total_sales_TX_FOODS         0
total_sales_WI_FOODS         0
Customer_price_index         0
Unemployement_Rate           0
gas_price                    0
dtype: int64

----------------------------NULL values----------------------------------
date                         0
wm_yr_wk                     0
weekday                      0
wday                         0
month                        0
year                         0
d                            0
event_name_1                 8
event_type_1                 8
event_name_2                85
event_type_2                85
snap_CA                      0
snap_TX                      0
snap_WI                      0
ca_walmart                   0
ca_hobbies                   0
ca_household                 0
ca_foods                     0
tx_walmart                   0
tx_hobbies                   0
tx_household                 0
tx_foods                     0
wi_walmart                   0
wi_hobbies                   0
wi_household                 0
wi_foods                     0
total_sales_CA_HOBBIES       0
total_sales_TX_HOBBIES       0
total_sales_WI_HOBBIES       0
total_sales_CA_HOUSEHOLD     0
total_sales_TX_HOUSEHOLD     0
total_sales_WI_HOUSEHOLD     0
total_sales_CA_FOODS         0
total_sales_TX_FOODS         0
total_sales_WI_FOODS         0
Customer_price_index         0
Unemployement_Rate           0
gas_price                    0
dtype: int64

--------------------------Shape Of Data---------------------------------
(1951, 38)

============================================================================

In [ ]:
final = pd.melt(sales, id_vars=['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'], var_name='d', value_name='sold').dropna()

In [ ]:
final.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,sold
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0

In [ ]:
final = pd.merge(final, calendar, on='d', how='left')

In [ ]:
final = pd.merge(final, sell_prices, on=['store_id','item_id','wm_yr_wk'], how='left')

In [ ]:
final.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,sold,date,wm_yr_wk,...,total_sales_CA_HOUSEHOLD,total_sales_TX_HOUSEHOLD,total_sales_WI_HOUSEHOLD,total_sales_CA_FOODS,total_sales_TX_FOODS,total_sales_WI_FOODS,Customer_price_index,Unemployement_Rate,gas_price,sell_price
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,2292.0,1706.0,1691.0,6852.0,6852.0,6224.0,221.125,9.101562,3.123047,NaN
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,2292.0,1706.0,1691.0,6852.0,6852.0,6224.0,221.125,9.101562,3.123047,NaN
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,2292.0,1706.0,1691.0,6852.0,6852.0,6224.0,221.125,9.101562,3.123047,NaN
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,2292.0,1706.0,1691.0,6852.0,6852.0,6224.0,221.125,9.101562,3.123047,NaN
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,2292.0,1706.0,1691.0,6852.0,6852.0,6224.0,221.125,9.101562,3.123047,NaN

In [ ]:
print(f'Size of final is {final.memory_usage(deep=True).sum()/(1024 * 1024 * 1024)} GB')

Size of final is 8.283706583082676 GB

In [ ]:
basic_eda(final)

-------------------------------TOP 5 RECORDS-----------------------------
                              id        item_id    dept_id   cat_id store_id  \
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1
1  HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  HOBBIES_1  HOBBIES     CA_1
2  HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  HOBBIES_1  HOBBIES     CA_1
3  HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  HOBBIES_1  HOBBIES     CA_1
4  HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  HOBBIES_1  HOBBIES     CA_1

  state_id    d  sold       date  wm_yr_wk  ... total_sales_CA_HOUSEHOLD  \
0       CA  d_1     0 2011-01-29     11101  ...                   2292.0
1       CA  d_1     0 2011-01-29     11101  ...                   2292.0
2       CA  d_1     0 2011-01-29     11101  ...                   2292.0
3       CA  d_1     0 2011-01-29     11101  ...                   2292.0
4       CA  d_1     0 2011-01-29     11101  ...                   2292.0

   total_sales_TX_HOUSEHOLD  total_sales_WI_HOUSEHOLD  total_sales_CA_FOODS  \
0                    1706.0                    1691.0                6852.0
1                    1706.0                    1691.0                6852.0
2                    1706.0                    1691.0                6852.0
3                    1706.0                    1691.0                6852.0
4                    1706.0                    1691.0                6852.0

  total_sales_TX_FOODS total_sales_WI_FOODS Customer_price_index  \
0               6852.0               6224.0              221.125
1               6852.0               6224.0              221.125
2               6852.0               6224.0              221.125
3               6852.0               6224.0              221.125
4               6852.0               6224.0              221.125

  Unemployement_Rate  gas_price  sell_price
0           9.101562   3.123047         NaN
1           9.101562   3.123047         NaN
2           9.101562   3.123047         NaN
3           9.101562   3.123047         NaN
4           9.101562   3.123047         NaN

[5 rows x 46 columns]

-------------------------------INFO--------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 58327370 entries, 0 to 58327369
Data columns (total 46 columns):
 #   Column                    Dtype
---  ------                    -----
 0   id                        category
 1   item_id                   category
 2   dept_id                   category
 3   cat_id                    category
 4   store_id                  category
 5   state_id                  category
 6   d                         object
 7   sold                      int16
 8   date                      datetime64[ns]
 9   wm_yr_wk                  int16
 10  weekday                   category
 11  wday                      int8
 12  month                     int8
 13  year                      int16
 14  event_name_1              category
 15  event_type_1              category
 16  event_name_2              category
 17  event_type_2              category
 18  snap_CA                   int8
 19  snap_TX                   int8
 20  snap_WI                   int8
 21  ca_walmart                float16
 22  ca_hobbies                float16
 23  ca_household              float16
 24  ca_foods                  float16
 25  tx_walmart                float16
 26  tx_hobbies                float16
 27  tx_household              float16
 28  tx_foods                  float16
 29  wi_walmart                float16
 30  wi_hobbies                float16
 31  wi_household              float16
 32  wi_foods                  float16
 33  total_sales_CA_HOBBIES    float16
 34  total_sales_TX_HOBBIES    float16
 35  total_sales_WI_HOBBIES    float16
 36  total_sales_CA_HOUSEHOLD  float16
 37  total_sales_TX_HOUSEHOLD  float16
 38  total_sales_WI_HOUSEHOLD  float16
 39  total_sales_CA_FOODS      float16
 40  total_sales_TX_FOODS      float16
 41  total_sales_WI_FOODS      float16
 42  Customer_price_index      float16
 43  Unemployement_Rate        float16
 44  gas_price                 float16
 45  sell_price                float16
dtypes: category(11), datetime64[ns](1), float16(25), int16(3), int8(5), object(1)
memory usage: 5.3+ GB
None

-------------------------------Describe----------------------------------
               sold      wm_yr_wk          wday         month          year  \
count  5.832737e+07  5.832737e+07  5.832737e+07  5.832737e+07  5.832737e+07
mean   1.126322e+00  1.133919e+04  3.997386e+00  6.357554e+00  2.013209e+03
std    3.873108e+00  1.503742e+02  2.000652e+00  3.458773e+00  1.532086e+00
min    0.000000e+00  1.110100e+04  1.000000e+00  1.000000e+00  2.011000e+03
25%    0.000000e+00  1.121700e+04  2.000000e+00  3.000000e+00  2.012000e+03
50%    0.000000e+00  1.133300e+04  4.000000e+00  6.000000e+00  2.013000e+03
75%    1.000000e+00  1.144800e+04  6.000000e+00  9.000000e+00  2.015000e+03
max    7.630000e+02  1.161300e+04  7.000000e+00  1.200000e+01  2.016000e+03

            snap_CA       snap_TX       snap_WI    ca_walmart    ca_hobbies  \
count  5.832737e+07  5.832737e+07  5.832737e+07  5.832737e+07  5.832737e+07
mean   3.293257e-01  3.293257e-01  3.293257e-01           NaN           NaN
std    4.699684e-01  4.699684e-01  4.699684e-01  0.000000e+00  0.000000e+00
min    0.000000e+00  0.000000e+00  0.000000e+00  5.328125e+00  4.601562e+00
25%    0.000000e+00  0.000000e+00  0.000000e+00  2.806250e+01  1.695312e+01
50%    0.000000e+00  0.000000e+00  0.000000e+00  3.403125e+01  2.165625e+01
75%    1.000000e+00  1.000000e+00  1.000000e+00  3.990625e+01  2.695312e+01
max    1.000000e+00  1.000000e+00  1.000000e+00  5.800000e+01  5.300000e+01

       ...  total_sales_CA_HOUSEHOLD  total_sales_TX_HOUSEHOLD  \
count  ...                58327370.0                58327370.0
mean   ...                       NaN                       NaN
std    ...                       NaN                       NaN
min    ...                       0.0                       0.0
25%    ...                    2690.0                    1815.0
50%    ...                    3304.0                    2256.0
75%    ...                    3932.0                    2712.0
max    ...                    6568.0                    4168.0

       total_sales_WI_HOUSEHOLD  total_sales_CA_FOODS  total_sales_TX_FOODS  \
count                58327370.0            58327370.0            58327370.0
mean                        NaN                   NaN                   NaN
std                         NaN                   NaN                   NaN
min                         0.0                   2.0                   2.0
25%                      1482.0                5848.0                5848.0
50%                      1865.0                6620.0                6620.0
75%                      2312.0                7620.0                7620.0
max                      4392.0               14336.0               14336.0

       total_sales_WI_FOODS  Customer_price_index  Unemployement_Rate  \
count            58327370.0          5.832737e+07        5.832737e+07
mean                    NaN                   NaN                 NaN
std                     NaN          0.000000e+00        0.000000e+00
min                     1.0          2.211250e+02        4.800781e+00
25%                  5408.0          2.287500e+02        5.601562e+00
50%                  6632.0          2.335000e+02        7.199219e+00
75%                  8064.0          2.372500e+02        8.203125e+00
max                 14360.0          2.390000e+02        9.101562e+00

          gas_price    sell_price
count  5.832737e+07  4.602796e+07
mean            NaN           NaN
std    0.000000e+00  0.000000e+00
min    1.833984e+00  1.000214e-02
25%    2.884766e+00  2.179688e+00
50%    3.496094e+00  3.470703e+00
75%    3.705078e+00  5.839844e+00
max    4.019531e+00  1.073125e+02

[8 rows x 33 columns]

-------------------------------Columns-----------------------------------
Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'd',
       'sold', 'date', 'wm_yr_wk', 'weekday', 'wday', 'month', 'year',
       'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2',
       'snap_CA', 'snap_TX', 'snap_WI', 'ca_walmart', 'ca_hobbies',
       'ca_household', 'ca_foods', 'tx_walmart', 'tx_hobbies', 'tx_household',
       'tx_foods', 'wi_walmart', 'wi_hobbies', 'wi_household', 'wi_foods',
       'total_sales_CA_HOBBIES', 'total_sales_TX_HOBBIES',
       'total_sales_WI_HOBBIES', 'total_sales_CA_HOUSEHOLD',
       'total_sales_TX_HOUSEHOLD', 'total_sales_WI_HOUSEHOLD',
       'total_sales_CA_FOODS', 'total_sales_TX_FOODS', 'total_sales_WI_FOODS',
       'Customer_price_index', 'Unemployement_Rate', 'gas_price',
       'sell_price'],
      dtype='object')

-------------------------------Data Types--------------------------------
id                                category
item_id                           category
dept_id                           category
cat_id                            category
store_id                          category
state_id                          category
d                                   object
sold                                 int16
date                        datetime64[ns]
wm_yr_wk                             int16
weekday                           category
wday                                  int8
month                                 int8
year                                 int16
event_name_1                      category
event_type_1                      category
event_name_2                      category
event_type_2                      category
snap_CA                               int8
snap_TX                               int8
snap_WI                               int8
ca_walmart                         float16
ca_hobbies                         float16
ca_household                       float16
ca_foods                           float16
tx_walmart                         float16
tx_hobbies                         float16
tx_household                       float16
tx_foods                           float16
wi_walmart                         float16
wi_hobbies                         float16
wi_household                       float16
wi_foods                           float16
total_sales_CA_HOBBIES             float16
total_sales_TX_HOBBIES             float16
total_sales_WI_HOBBIES             float16
total_sales_CA_HOUSEHOLD           float16
total_sales_TX_HOUSEHOLD           float16
total_sales_WI_HOUSEHOLD           float16
total_sales_CA_FOODS               float16
total_sales_TX_FOODS               float16
total_sales_WI_FOODS               float16
Customer_price_index               float16
Unemployement_Rate                 float16
gas_price                          float16
sell_price                         float16
dtype: object

----------------------------Missing Values-------------------------------

id                                 0
item_id                            0
dept_id                            0
cat_id                             0
store_id                           0
state_id                           0
d                                  0
sold                               0
date                               0
wm_yr_wk                           0
weekday                            0
wday                               0
month                              0
year                               0
event_name_1                  243920
event_type_1                  243920
event_name_2                 2591650
event_type_2                 2591650
snap_CA                            0
snap_TX                            0
snap_WI                            0
ca_walmart                         0
ca_hobbies                         0
ca_household                       0
ca_foods                           0
tx_walmart                         0
tx_hobbies                         0
tx_household                       0
tx_foods                           0
wi_walmart                         0
wi_hobbies                         0
wi_household                       0
wi_foods                           0
total_sales_CA_HOBBIES             0
total_sales_TX_HOBBIES             0
total_sales_WI_HOBBIES             0
total_sales_CA_HOUSEHOLD           0
total_sales_TX_HOUSEHOLD           0
total_sales_WI_HOUSEHOLD           0
total_sales_CA_FOODS               0
total_sales_TX_FOODS               0
total_sales_WI_FOODS               0
Customer_price_index               0
Unemployement_Rate                 0
gas_price                          0
sell_price                  12299413
dtype: int64

----------------------------NULL values----------------------------------
id                                 0
item_id                            0
dept_id                            0
cat_id                             0
store_id                           0
state_id                           0
d                                  0
sold                               0
date                               0
wm_yr_wk                           0
weekday                            0
wday                               0
month                              0
year                               0
event_name_1                  243920
event_type_1                  243920
event_name_2                 2591650
event_type_2                 2591650
snap_CA                            0
snap_TX                            0
snap_WI                            0
ca_walmart                         0
ca_hobbies                         0
ca_household                       0
ca_foods                           0
tx_walmart                         0
tx_hobbies                         0
tx_household                       0
tx_foods                           0
wi_walmart                         0
wi_hobbies                         0
wi_household                       0
wi_foods                           0
total_sales_CA_HOBBIES             0
total_sales_TX_HOBBIES             0
total_sales_WI_HOBBIES             0
total_sales_CA_HOUSEHOLD           0
total_sales_TX_HOUSEHOLD           0
total_sales_WI_HOUSEHOLD           0
total_sales_CA_FOODS               0
total_sales_TX_FOODS               0
total_sales_WI_FOODS               0
Customer_price_index               0
Unemployement_Rate                 0
gas_price                          0
sell_price                  12299413
dtype: int64

--------------------------Shape Of Data---------------------------------
(58327370, 46)

============================================================================